<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio-Tec Company</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>

<div class="conteiner">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 20%;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="/logo.png" class="ImgP">
            <span class="fs-4">Bio-Tec Company</span>
        </a>
        <button type="button" class="Genes" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Genes</button>
        
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Trabaja con Genes</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title">Secuencia ADN</h5>
                    <input type="text" class="form-control" id="barra"/>
                    <input type="text" name="adn" class="form-control" id="barra2"/>
                    <p class="text2">El siguiente boton nos va a generara una seguencia de ADN aleatoria y su contraparte</p>
                    <button type="button" class="btn btn-primary" id="CreateGe">Generar Secuencia</button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title">Traducción ARNm</h5>
                    <input type="text" name="arnm" class="form-control" id="barra3"/>
                    <p class="text2">El siguiente boton nos va a traducir la segunda secuencia que generamos anteriormente para poder ser trasladados por el ARN mensajero</p>
                    <button type="button" class="btn btn-primary" id="CreateTr">Traducir</button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title">Polipéptidos(Proteinas)</h5>
                    <input type="text" name="polipéptidos" class="form-control" id="barra4"/>
                    <p class="text2">El siguiente boton nos va a traducir la secuencia del ARNm a proteinas</p>
                    <button type="button" class="btn btn-primary" id="CreatePo">Traducir Proteinas</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="Delte">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Listo</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="Genes" data-bs-toggle="modal" data-bs-target="#exampleModal">Hipermetilación</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Genes Hipermetilados</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <h4 class="modal-title">Gen ZAR1</h4> 
                <div class="modal-body">
                    <h5 class="modal-title">Secuencia Genetica</h5>
                    <input type="text" class="form-control" id="barra5"/>
                    <p class="text2">El siguiente boton nos va a generara una seguencia de ADN aleatoria</p>
                    <button type="button" class="btn btn-primary" id="CrSG" >Generar Secuencia</button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title">¿Habra metilación?</h5>
                    <input type="text" class="form-control" id="barra6"/>
                    <h5 class="modal-title">¿Cual Es Su Función?</h5>
                    <input type="text" class="form-control" id="barra7"/>
                    <h5 class="modal-title">¿Qué Mecanismo Epigenetico Es?</h5>
                    <input type="text" class="form-control" id="barra8"/>
                    <h5 class="modal-title">¿Qué Canseres Tiene Asociado?</h5>
                    <input type="text" class="form-control" id="barra9"/>
                    <p class="text2">El siguiente boton va a analizar la secuencia que generamos anteriormente y si en la secuencia se precenta el caso "C,G" nos respondera las preguntas</p>
                    <button type="button" class="btn btn-primary" id="AnGn1">Analisar Gen</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="Delte2">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Listo</button>
                </div>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/">Pag1</a></li>
            <li class="page-item"><a class="page-link" href="/GGuar">Pag2</a></li>
            <li class="page-item"><a class="page-link" href="/N">Pag3</a></li>
        </ul>
    </nav>
    </div>
    <div class="miniconteiner">
        <div class="text1">
            <h1>Terapia Genetica</h1>
            <p> En esta pagina van a poder informarse sobre el gen supresor de tumores "ZAR1" y sobre el sistema "CRISPR(on/off)".</p>
            <p>El sistema CRISPR-Cas9 de edición del genoma puede adaptarse para llevar a cabo cambios en el epigenoma.</p>
            <p>Distintas investigaciones llevadas a cabo en dos laboratorios diferentes usan unas nuevas variantes CRISPR para encender (CRISPRon) y para apagar (CRISPRoff) genes a "voluntad".</p>

        </div>
        <div class="conCard">
            <div class="card">
                <div class="header">
                    <div class="text1">
                    <h4>Sistema CRISPR-Cas9</h4>
                    <svg class="toog" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                        <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                    </svg>
                    <img src="/off.png" class="img-on">
                </div>
                </div>
                <div class="card-body">
                    <div class="text1">
                        <h4>Sistema CRISPRoff</h4>
                    <p class="card-text">El sistema CRISPRoff se utiliza para lograr el apagado de los genes, para ello se usa el efecto de proteínas capaces de producir hipermetilación</p>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <div class="text1">
                    <h4>Sistema CRISPR-Cas9</h4>
                    <svg class="toog" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
                        <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                        </svg>
                        <img src="/on.png" class="img-on">
                    </div>
                </div>
                <div class="card-body">
                    <div class="text1">
                        <h4>Sistema CRISPRon</h4>
                        <p class="card-text">El sistema CRISPRon se utiliza para producir la re-activación  de los genes, para ser especificos se utiliza una proteína que tiene una actividad desmetilasa, osea que, retira los grupos metilos del ADN</p>
                </div>
                </div>
            </div>
        </div>
        <img src="/1.png" class="Img1">
        <a class="ZAR1" href="/ZAR1">Mas info sobre ZAR1</a>
        <div class="text1">
            <h1>AMBIENTE</h1>
            <p>Por mas bueno e increible que parezca el gen "ZAR1" es magia y siempre el ambiente en el que permanezcamos y las ctividades que realicemos (por ejemplo: fumar) siempre van a influir en nuestra salud. </p>
        </div>
        <div class="footer">
            <p class="name">Cristian Tello    /   Martina Nievas   </p>
        </div>
    </div>

<script src="/Gen.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>