<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bio-Tec Company</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="miniconteiner">
        <div class="text1">
        <h1>ZAR1</h1>
        <p> ¿Tal vez te preguntes que es ZAR1?</p>

        <p>Bueno, ZAR1 es un gen cuya funcionalidad es suprimir tumores, por lo tanto, podemos decir que ZAR1 nos ayuda a evitar contraer cancer</p>
        </div>
        <a class="ZAR1" href="/N">Volver a "Terapia Genetica"</a>

        <div class="footer">
            <p class="name">Cristian Tello    /   Martina Nievas   </p>
        </div>
    </div>

<script src="/Gen.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>