body{
    background-color:  #000057 ;
    color: #000;
}
.conteiner{
    display: flex;
    width: 100%;
    height: 100%;
    background-color:  #000057 ;
}
.miniconteiner{
    display: flexbox;
    width: 100%;
    height: 100%;
    background-color:  #000057 ;
}

.Genes{
width: auto;
height: auto;
background-color: #29a49c;
border-radius: 20%;
color: #000057;
border-color: black;
}
.ImgP{
    width: 40%;
    height:60%;
    border-radius: 20%;
}
.fs-4{
    color: #35A29F;
}
.TGG{
    justify-content: center;
    width: auto;
    height:auto;
    color: #020296;
}
.modal-title{
    color: #000057;
}
.text1{
    color: #29a49c;
}
.carouselslide{
    display: flex;
}
.d-blockw-100{
    width: auto;
    height:auto;
    border-radius: 20%;
}
.d-blockw-10{
    width: 30%;
    height:30%;
    border-radius: 20%;
}
.footer {
    display: flex;
    background-color: #29a49c;
    z-index: 1;
    width: 100%;
    margin-top: 50%;
    height:5%;
    left: -10%;
    text-align: center;
}
.footer1 {
    width: 200%;
    position: relative;
    display: flex;
    background-color: #29a49c;
    z-index: 1;

    margin-top: 50%;
    height:5%;
    left: -35%;
    text-align: center;
}
.table{
    width: auto;
    height:auto;
    margin-top: 10%;
}
.ZAR1{
    width: 100%;
    height: 100%;
    background-color: #29a49c;
    border-radius: 20%;
    color: #000057;
    border-color: black;
}
.Img1{

    width: 40%;
    height:60%;
    border-radius: 20%;
}
.NG{
    width: auto;
    height: auto;
    background-color: #29a49c;
    border-radius: 20%;
    color: #000057;
    border-color: black;
}
.name{
    width: 100%;
    height:5%;
}
.toog{
    height: 20%;
    width: 20%;
}
.card{
    height: 40%;
    width: 40%;
    border-color: #000;
}
.img-on{
    border-radius: 20%;
    height: 40%;
    width: 40%;
}
.header{
    background-color: #333;
    border-color: #000;
}
.card-body{
    background-color: #333;
    border-color: #000;
}
.conCard{
    display: flexbox;
    justify-content: center;
}
.text2{
    color: #000057;
}